<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/scriptAccueil.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Disney -</h1>
        <p>Accueil</p>
    </header>

    <main>
        <article>
            <div class="card">
                <h2>Bienvenue {{ user.username }}</h2>
                <p>Choisis une action :</p>

                <button type="button" id="idPage">Mes avis</button>
                <button type="button" id="recommandationPage">Mes recommandations</button>
                <button type="submit" id="logout">Se déconnecter</button>

            </div>
        </article>
    </main>

    <footer>
        <p>Disney -</p>
    </footer>
</body>
</html>