<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mes avis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/mesSeries.js') }}" defer></script>
</head>
<body>
    <header>
    <div class="nav-container">
        <div class="logo-section">
            <h1>Disney -</h1>
        </div>
            <div class="nav-buttons">
                <button class="nav-btn" type="button" id="accueil-btn">Accueil</button>
                <button class="nav-btn" type="button" id="categories-btn">Catégories</button>
                <button class="nav-btn btn-special" type="button" id="recommandations-btn">IA Recommandations</button>
            </div>
        </div>
    </div>
    </header>

        <main>
        <article>
            
            
            <div class="card">
                <h2>Mes avis enregistrés</h2>
                <div id="mesAvis">
                </div>
            </div>

        </article>
        </main>
</body>
</html>
