<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mes avis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/mesSeries.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Disney -</h1>
        <p>Mes séries enregistrés</p>
    </header>

        <main>
        <article>
            
            
            <div class="card">
                <h2>Mes avis enregistrés</h2>
                <div id="mesAvis">
                </div>
            </div>