<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recommandations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/scriptRecommandation.js') }}" defer></script>
</head>
<body>
    <header>
    <div class="nav-container">
        <div class="logo-section">
            <h1>Disney -</h1>
        </div>
            <div class="nav-buttons">
                <button class="nav-btn" type="button" id="accueil-btn">Accueil</button>
                <button class="nav-btn" type="button" id="series-btn">Series </button>
                <button class="nav-btn" type="button" id="categories-btn">Catégories</button>
            </div>
        </div>
    </div>
    </header>

    <main>
        <article>
            <div class="card">
                <h2>Demander des recommandations</h2>

                <label for="preferencesInput">Précision supplémentaire</label>
                <input
                    type="text"
                    id="preferencesInput"
                    placeholder="Ex : je veux une série drôle, courte, avec du suspense"
                >
                <button id="btnGenerer" type="button">Générer</button>
                <p id="message"></p>
            </div>
            <div id="recommandations"></div>
        </article>
    </main>
    <footer>
        <p>Disney -</p>
    </footer>
</body>
</html>